<form method="post" action="{{ path('documents_delete', {'id': document.id}) }}"
      onsubmit="return confirm('{% trans %}documents.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger">{% trans %}documents.delete.button{% endtrans %}</button>
</form>
