<form method="post" action="{{ path('deputies_delete', {'id': deputy.id}) }}" onsubmit="return confirm('{% trans %}deputies.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deputy.id) }}">
    <button class="btn btn-danger">{% trans %}deputies.delete.button{% endtrans %}</button>
</form>
