{% extends 'base.html.twig' %}

{% block title %}{% trans %}deputies.edit.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}deputies.edit.title{% endtrans %}</h1>

    {{ include('deputies/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('deputies_index') }}">{% trans %}deputies.edit.button.back{% endtrans %}</a>

    {{ include('deputies/_delete_form.html.twig') }}
{% endblock %}
