{% extends 'base.html.twig' %}

{% block title %}Deputies index{% endblock %}

{% block body %}
    <h1>Deputies index</h1>

    {% include 'deputies/list.html.twig' %}
    <a class="btn btn-success" href="{{ path('deputies_new') }}">Create new</a>
{% endblock %}
