{% extends 'base.html.twig' %}

{% block title %}{% trans %}parser.index.site.title{% endtrans %}{% endblock %}

{% block body %}
    <style>
        .card {
            max-width: 400px;
            min-width: 380px;
            padding: 6px 6px;
        }
    </style>
    <h1>{% trans %}parser.index.title{% endtrans %}</h1>

    <div class="d-flex card-group justify-content-center">
        {% for parser in parsers %}
            <div class="card ">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">{{ parser['name'] }}</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path(parser['path'])}}"><span class="badge badge-danger">{% trans %}parser.index.button.run{% endtrans %}</span></a>
                    {% if parser['list'] %}
                    <a href="{{ path(parser['list'])}}"><span class="badge badge-info">{% trans %}parser.index.button.list{% endtrans %}</span></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
