{% extends 'base.html.twig' %}

{% block title %}{% trans %}timetable.new.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}timetable.new.title{% endtrans %}</h1>

    {{ include('timetable/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('timetable_index') }}">
        {% trans %}timetable.new.button.back{% endtrans %}
    </a>
{% endblock %}
