{% extends 'base.html.twig' %}

{% block title %}{% trans %}timetable.show.site.title{% endtrans %} {{ timetable.number }}{% endblock %}

{% block body %}
    {% include('timetable/show_detail.html.twig') %}

    <a class="btn btn-primary" href="{{ path('timetable_index') }}">
        {% trans %}timetable.show.button.back{% endtrans %}
    </a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('timetable_edit', {'id': timetable.id}) }}">
            {% trans %}timetable.show.button.edit{% endtrans %}
        </a>
        {{ include('timetable/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
