<form method="post" action="{{ path('government_parties_delete', {'id': government_party.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ government_party.id) }}">
    <button class="btn">Delete</button>
</form>
