{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}government_parties.edit.site.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}government_parties.edit.title{% endtrans %}</h1>

    {{ include('government_parties/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('government_parties_index') }}">
        {% trans %}government_parties.edit.button.back{% endtrans %}
    </a>

    {{ include('government_parties/_delete_form.html.twig') }}
{% endblock %}
