{% extends 'base.html.twig' %}

{% block title %}New GovernmentParties{% endblock %}

{% block body %}
    <h1>Create new GovernmentParties</h1>

    {{ include('government_parties/_form.html.twig') }}

    <a href="{{ path('government_parties_index') }}">back to list</a>
{% endblock %}
