<form method="post" action="{{ path('votes_result_delete', {'id': votes_result.id}) }}"
      onsubmit="return confirm('{% trans %}votes_result.delete.confirm{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ votes_result.id) }}">
    <button class="btn btn-danger">{% trans %}votes_result.delete.button{% endtrans %}</button>
</form>
