<form method="post" action="{{ path('votes_result_delete', {'id': votes_result.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ votes_result.id) }}">
    <button class="btn">Delete</button>
</form>
