{% extends 'base.html.twig' %}

{% block title %}{% trans %}votes_result.edit.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}votes_result.edit.title{% endtrans %}</h1>

    {{ include('votes_result/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('votes_result_vote', {'id': votes_result.vote.id}) }}">
        {% trans %}votes_result.edit.button.back{% endtrans %}
    </a>

    {{ include('votes_result/_delete_form.html.twig') }}
{% endblock %}
