{% extends 'base.html.twig' %}

{% block title %}VotesResult index{% endblock %}

{% block body %}
    <h1>VotesResult index</h1>

    <a class="btn btn-success" href="{{ path('votes_result_new') }}">Create new</a>
    {% include('votes_result/list.html.twig') %}

{% endblock %}
