{% extends 'base.html.twig' %}

{% block title %}{% trans %}votes_result.new.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}votes_result.new.title{% endtrans %}</h1>

    {{ include('votes_result/_form.html.twig') }}

{% endblock %}
