{% extends 'base.html.twig' %}

{% block title %}{% trans %}votes.new.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}votes.new.title{% endtrans %}</h1>

    {{ include('votes/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('votes_index') }}">
        {% trans %}votes.new.button.back{% endtrans %}
    </a>
{% endblock %}
